
/* Your CSS Code here. */
.holder {
  display: flex;
  flex-wrap:wrap;
  justify-content:center;
}

.item {
  width: 100px;
  height: 100px;
  background-color: blue;
  margin: 15px;
  color:hotpink;
}
